h1 {
    text-align: center;
    color: #fff;
}

.clearfix {
    clear: both;
}

#box {
    width: 350px;
    overflow: auto;
    margin: 40px auto;
    background: #666;
    padding-bottom: 40px;
    border-radius: 10px;
}

#message {
    background: #333;
    color: #fff;
}

#gameBoard li {
    float: left;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 50px;
    background: #333;
    color: #ccc;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}

#gameBoard li:hover, #reset:hover {
    cursor: pointer;
    background: #000;
}

#reset {
    border: 0;
    background: #444;
    color: #fff;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
}

.o {
    color: green !important;
}

.x {
    color: red !important;
}

footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}




html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: #dedede;
    color: #666;
    height: 100%;
    width: 70%;
    margin: auto;

}

.div-table {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #eee;
    /*border: 1px solid #666666;*/
    margin: auto;
    border-spacing: 15px; /* cellspacing:poor IE support for  this */
}

.div-table-row {
    background-color: #eeffff;
    display: table-row;
    /*clear: both;*/
    /*border-spacing: 15px;*/
}

.div-table-col-left {
    float: left; /* fix for  buggy browsers */
    width: 30%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.16);
    outline: solid;
}

.div-table-col-right {
    float: right; /* fix for  buggy browsers */
    width: 69%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.16);
    outline: solid;
}


.div-cards-table {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #eee;
    /*border: 1px solid #666666;*/
    margin: auto;
    /*border-spacing: 15px; !* cellspacing:poor IE support for  this *!*/
}

.div-cards-table-row {
    background-color: #eeffff;
    display: table-row;
    /*clear: both;*/
    /*border-spacing: 15px;*/
}

.div-cards-table-col {
    float: left; /* fix for  buggy browsers */
    width: 20%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.16);
    outline: solid;
}